body {
  background-color: rgba(198, 198, 198, 0.6);
  font-size: 16px;
  line-height: 1.5;
}

header .navbar {
  border-radius: 0;
  margin: 0;
}

.hero {
  background-image: url("../img/ship.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px 0;
  min-height: 350px;
  position: relative;
}

.hero-content {
  background-color: rgba(122, 148, 255, 0.3);
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
}

.hero-content h2 {
  color: rgb(255 , 230, 210);
  font-size: 45px;
}

.hero-content p {
  color: rgb(255 , 230, 210);
  font-size: 20px;
  margin-bottom: 30px;
}

.alert p{
  color: rgb(122, 148, 255);
}

main {
  min-height: 500px;
  padding: 50px 0;
}

.search-result-true {
  display: table-row !important;
}

.search-result-false {
  display: none !important;
}
