
<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>all about cats</h2>
    <p>Because cats is people too</p>
  </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
  <h3>Rule #1:</h3>
  <img src="../img/Pasted image at 2017_02_20 10_26 AM.png">
</div>
