<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h2>Hanoi Towers solver</h2>
    <p>Enter number of disks to solve for:</p>
    <div id="solver">
      <p>
        <input type="number" id="disks" value="">
      </p>
      <ol id="list"></ol>
      <p id="carp"></p>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../../JS/hanoi.js"></script>

  </body>
</html>
