
<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>hello</h2>
    <p>I have no idea how this tutorial lady's text editor keeps predicting huge globs of text for her, but it's frustrating</p>

    <a href="/" class="btn btn-lg btn-primary">get started, zice</a>
    <a href="/contact" class="btn btn-lg btn-primary">si contact, cica</a>
  </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
  home page
</div>
