<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h2>Palindrome solver</h2>
    <p>Enter word to solve for:</p>
    <div>
      <p>
        <input type="text" id="word" value="">
      </p>
      <button id="activate">Click here to show solution</button>
      <p id="solution"></p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../../JS/pals-for-html.js"></script>

  </body>
</html>
